node_modules/*
!node_modules/three
node_modules/three/*
!node_modules/three/examples
node_modules/three/examples/*
!node_modules/three/examples/jsm
node_modules/three/examples/jsm/*
!node_modules/three/examples/jsm/libs
node_modules/three/examples/jsm/libs/*
!node_modules/three/examples/jsm/libs/dat.gui.module.d.ts


dist/public/javascripts/
dist/routes/
dist/app.*
dist/server.*